h1.nx-mt-2 {
    color: #414E8E !important;
}

.swagger-ui code {
    display: block;
    background-color: none;
}

/* swagger dark mode */
:is(html[class~=dark]) .backdrop-ux {
    background: rgba(0, 0, 0, .8);
}

/* dark mode light text color */
:is(html[class~=dark]) .swagger-ui :where(
    h2.title,
    p,
    select,
    div.computed-url,
    .modal-ux-header > h3,
    .auth-container h4,
    .modal-ux .wrapper >label,
    .modal-ux button.btn-done,
    .nostyle,
    .opblock-title,
    .opblock-summary-description,
    .opblock-section-header > h4,
    button.try-out__btn,
    .col_header,
    .parameter__name,
    .parameter__type,
    .parameter__deprecated,
    .parameter__in,
    input,
    select,
    .response-col_status,
    .response-col_description,
    .response-col_description__inner,
    .response-col_links,
    .tablinks,
    section > h4 >button.models-control,
    .model-container span,
    tr.description,
    tr.property-row
    ) {
    color: rgba(226, 232, 240, var(--tw-text-opacity)) !important;
}

:is(html[class~=dark]) .swagger-ui :where(
    input,
    select,
    .opblock-section-header
 ) {
    background-color: inherit !important;
    border: 2px solid #41444e !important;
}

:is(html[class~=dark]) .swagger-ui :where(.scheme-container, .modal-ux) {
    color: rgba(226, 232, 240, var(--tw-text-opacity)) !important;
    background-color: rgb(17, 17, 17) !important;
}

:is(html[class~=dark]) .swagger-ui :where(.errors-wrapper) {
    color: rgba(226, 232, 240, var(--tw-text-opacity)) !important;
}

:is(html[class~=dark]) .swagger-ui :where(button > svg, button > svg > use) {
    fill: rgba(226, 232, 240,var(--tw-text-opacity)) !important;
}
